#inbox-column {
    height: 900px;
    /* background-color: #5764E2; */
    background-color: #D7DBF7;
    overflow-y: auto;
}
.list-group-item {
    margin-bottom: 5px;
    border: none;
    background-color: #F8F9FE;
}
/* .list-group-item-action:hover::before,
.list-group-item-action:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #5764E2;
}
.list-group-item-action:hover::before {
    top:0;
}
.list-group-item-action:hover::after {
    bottom: 0;
} */
.list-group-item-action {
    transition: background-color .3s;
}
.list-group-item-action:hover {
    background-color: #D7DBF7;
    color: #5764E2;
    border-radius: 10px;
}
.column-1, .list-group, .search-bar{
    background-color: #F8F9FE;
    font-family: 'Courier New', Courier, monospace;
    font-size: .9rem;
}
.user-name, .inbox, .labels{
    background-color: #D7DBF7;
    color: #5764E2;
}
.fa-regular, .fa-solid {
    margin-right: 10px;
}
body, .offcanvas {
    /* background-color: #5764E2; */
    background-color: #F8F9FE;
}
.btn {
    background-color: #5764E2;
}

.email-header {
    background-color: #D7DBF7;
}
#sidebar {
    width: 25%;
}
.footer-icons {
    background-color: #D7DBF7;
    color: #5764E2;
}
