
#inbox-column {
    min-height: 100vh;
    background-color: #D7DBF7;
    overflow-y: auto;
}

.list-group-item {
    margin-bottom: 5px;
    border: none;
    background-color: #F8F9FE;
}

.list-group-item-action {
    transition: background-color .3s;
}
.list-group-item-action:hover {
    background-color: #D7DBF7;
    color: #5764E2;
    border-radius: 10px;
}
.list-group-item.active {
    background-color: #D7DBF7;
    color: rgb(46, 37, 147);
}
.column-1, .list-group, .search-bar{
    background-color: #F8F9FE;
    font-family: 'Courier New', Courier, monospace;
    font-size: .9rem;
}

.user-name, .inbox, .labels{
    background-color: #D7DBF7;
    color: #5764E2;
}
.fa-regular, .fa-solid {
    margin-right: 10px;
}
body, .offcanvas {
    background-color: #F8F9FE;
}
.btn {
    background-color: #5764E2;
}

.email-header {
    background-color: #D7DBF7;
    color: #5764E2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#userText {
    background-color: #D7DBF7;
    border-radius: 15px;
    border-color: #D7DBF7;
}
#sidebar {
    width: 25%;
}
.footer-icons{
    background-color: #D7DBF7;
    color: #5764E2;
}
.enlarge {
    transition: transform .3s, color .3s;
}
.enlarge:hover {
    transform: scale(1.2);
    color: #F8F9FE;
}
.side-icons {
    background-color: #D7DBF7;
    height: 100vh;
}
/* enlarges the off canvas side panel when hovering */
.side-enlarge {
    transition: background-color .3s;
}
.side-enlarge:hover {
    transform: scale(1.4);
    color: #F8F9FE;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
